aside{
  float: left;
  width: 20%;
  background-color: white;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;

}

.head{
  display:flex;
  justify-content: center;
  align-items: center;
}
