<div class="eko-register container">
  <header class="eko-register__header">
    <h1 class="eko-register__title eko-title">EKO</h1>
  </header>
  <form class="eko-register__form container" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <h3 class="eko-register__form-title">Formulario de registro</h3>
    <div class="eko-register__form-wrapper row">
      <div class="col-6">
        <input placeholder="Nombre" type="text" class="form-control" formControlName="nombre" name="nombre" required>
      </div>
      <div class="col-6">
        <input placeholder="Edad" type="number" class="form-control" formControlName="edad" name="edad" required>
      </div>
      <div class="col-12">
        <textarea placeholder="Descripción" type="text" class="form-control" formControlName="descripcion"
          name="descripcion" required></textarea>
      </div>
      <div class="col-12">
        <input placeholder="Correo electrónico" type="email" class="form-control" formControlName="correo" name="correo"
          required>
      </div>
      <div class="col-6">
        <input placeholder="Verificar contraseña" type="password" class="form-control"
          formControlName="verificarContrasena" name="verificarContrasena" required>
      </div>
      <div class="col-6">
        <input placeholder="Contraseña" type="password" class="form-control" formControlName="contrasena"
          name="contrasena" required>
      </div>
      <div class="col-12">
        <label for="tipo-usuario">Tipo de usuario</label>
        <select class="form-control" id="tipo-usuario" required formControlName="tipoUsuario">
          <option *ngFor="let tipoDeUsuario of tiposDeUsuario" [value]="tipoDeUsuario">{{tipoDeUsuario}}</option>
        </select>
      </div>
      <ng-container *ngIf="this.checkoutForm.get('tipoUsuario').value === 'PROVEEDOR'">
        <div class="col-6">
          <input placeholder="Teléfono" type="text" class="form-control" formControlName="telefono"
            name="telefono" required>
        </div>
        <div class="col-6">
          <input placeholder="Página web" type="text" class="form-control" formControlName="paginaWeb"
            name="paginaWeb" required>
        </div>
        <div class="col-6">
          <input placeholder="Usuario Facebook" type="text" class="form-control" formControlName="contactoFacebook"
            name="contactoFacebook" required>
        </div>
        <div class="col-6">
          <input placeholder="Usuario Twitter" type="text" class="form-control" formControlName="contactoTwitter"
            name="contactoTwitter" required>
        </div>
      </ng-container>
      <div class="col-6 offset-3">
        <button class="btn btn-dark btn-lg btn-block btn-sm" type="submit">Registrarse</button>
      </div>
    </div>
  </form>
</div>