<nav class="eko-menu">
  <ul class="eko-menu__list">
    <li clas="eko-menu__item">
      Producto
      <nav class="eko-menu__sub-menu">
        <ul class="eko-menu__list">
          <li class="eko-menu__item">
            <a class="eko-menu__link" routerLink="/product/add">Crear producto</a>
          </li>
          <li class="eko-menu__item">
            <a class="eko-menu__link" routerLink="/reserva">Hacer reserva</a>
          </li>
        </ul>
      </nav>
    </li>
    <li>
      <a (click)="obetenerTodosLosProductos($event)" href="#">Obtener todos los productos</a>
    </li>
    <li class="eko-menu__item">
      <label for="id">Buscar reservas por ID cliente</label>
      <input type="text" class="" [(ngModel)]="idreservas" name="id" required>
      <button type="button" (click)="obtenerReservasCliente()">Mis reservas</button>
    </li>
  </ul>
</nav>

<div>
  <label for="">Buscar por ID</label>
  <input type="text" class="" [(ngModel)]="id" name="id" required>
  <button type="button" (click)="buscarPorID()">Buscar</button>
</div>
<router-outlet></router-outlet>
