<section class="eko-pregunta-form">
  <form class="eko-pregunta-form__form container" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <h5 class="eko-pregunta-form__form-title">Preguntar</h5>
    <div class="col-12 eko-pregunta-form__form-input">
      <textarea placeholder="¿Qué quieres preguntar?" type="text" class="form-control" formControlName="descripcion"
        name="descripcion" required></textarea>
    </div>
    <div class="col-6 offset-3">
      <button [disabled]="checkoutForm.invalid" class="btn btn-dark btn-lg btn-block btn-sm" type="submit">Enviar
        pregunta</button>
    </div>
  </form>
</section>