/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(246, 246, 246);
}

img {
  max-width: 100%;
}

.eko-title {
  font-family: 'Permanent Marker', cursive;
}

.eko-link {
  color: #1F8524 !important;
  cursor: pointer;
    
  &:hover {
    color: #A1D6A4 !important;
  }

  &-button {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #1F8524 !important;
    color: #1F8524 !important;
    border-radius: 8px;
    
    &:hover {
      border-color: #A1D6A4 !important;
      color: #A1D6A4 !important;
    }
  }
}

.eko-link-danger {
  cursor: pointer;
  color: rgb(179, 3, 3) !important;
    
  &:hover {
    color: rgb(255, 4, 4) !important;
  }

  &-button {
    cursor: pointer;
    padding: 8px;
    border: 1px solid rgb(179, 3, 3);
    color: rgb(179, 3, 3) !important;
    border-radius: 8px;
    
    &:hover {
      border-color: rgb(255, 4, 4);
      color: rgb(255, 4, 4) !important;
    }
  }
}

.eko-link-light {
  color: #A1D6A4;
  
  &:hover {
    color: #1F8524;
  }
  
  &-button {
    padding: 8px;
    border-color: #A1D6A4;
    color: #A1D6A4;
    border-radius: 8px;
    
    &:hover {
      border: 1px solid #1F8524;
      color: #1F8524;
    }
  }
}