.eko-producto {
  $self: &;

  margin-top: 40px;
  color: #333;

  .eko-title {
    margin-bottom: 0;
    text-align: center;
  }

  &__fig {
    margin-bottom: 0;
    border-radius: 10px;

  }

  &__container {
    margin-top: 20px;
    width: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    padding: 24px 0;
    background-color: #FFFFFF;

    #{$self}__type {
      margin-bottom: 32px;
      color: #A1D6A4;
      text-align: center;
    }

    #{$self}__text {
      margin-bottom: 0;
    }
  }

  &__disponibilidad {
    display: table;
    width: 100%;
    margin: 16px 0;

    &-row {
      display: table-row;

      p {
        display: table-cell;
        border: 1px solid #ccc;
        padding: 4px 12px;

        &#{$self}__text-title {
          font-weight: 900;
        }
      }
    }
  }
}

agm-map {
  height: 300px;
}
